.tomorrow-temperature-day {
  &__current-temp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
  }

  &__wrapper-temp-ico {
    display: flex;
    margin: auto 0;
    gap: 10px;
  }

  &__temp {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 100%;
    color: #263238;
  }

  &__icon {
    max-width: 100px;
    svg {
      width: 80px;
      height: 80px;
    }
  }

  &__feels-like {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.25px;
    color: #263238;
    &::before {
      content: 'Feels Like';
      opacity: 0.7;
      margin-right: 5px;
      color: #34515ecc;
    }
    &::after {
      content: '°C';
      opacity: 0.7;
      margin-left: 5px;
      color: #34515ecc;
    }
  }

  &__description {
    color: #263238;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 20px;
  }
}
