.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 48px;
    background: #ffffff;
    border-bottom: 1px solid rgba(96, 125, 139, 0.12);
  }
  &__search {
    width: 400px;
    border-radius: 8px;
  }
}
